* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 238, 238);
    padding-left: 50px;
    padding-right: 50px;
    font-family: Nunito,Tahoma,Geneva, sans-serif;
}
/* Header section */
.header {
    background-color: rgb(20, 20, 17);
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.header ul {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
}

.header li {
    padding: 5px 15px;
    list-style: none;
    color: whitesmoke;
    text-align: center;
}

.header li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(245, 236, 238);
}

.header a:hover {
    color: rgb(240, 164, 181)
}


/*content*/
.content {
    width: 100%;
    height: 600px;
    color: white;
    border-radius: 15px;
}

.banner {
    color: rgb(9, 9, 10);
    text-align: center;
    display: inline;

}


footer {
    width: 100%;
    height: auto;
    background-color: rgb(12, 12, 11);
    display: block;
    align-items: center;
    border-top: 2px solid red;
    border-radius: 15px;
}

.footer ul {
    padding: 5px 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer li {
    padding: 5px 15px;
    list-style: none;
    color: whitesmoke;
    text-align: center;
}

.footer li a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: rgb(240, 164, 181)
}

@media only screen and (max-width: 540px) {
    .header ul,
    .footer ul {
        display: inline;
    }
}

@media only screen and (max-width: 540px) {
    body {
        padding: o;
    }